[credential]
    helper = wincred
[credential "https://git.moscow.alfaintra.net"]
    provider = bitbucket
[user]
    name = Andrey Podshivalenko
    email = APodshivalenko@alfabank.ru
[http]
    sslVerify = false
[core]
    editor = nvim
    pager = "nvim -c 'setlocal buftype=nofile'"
    autocrlf = false
[pager]
    show = "nvim -c 'setlocal buftype=nofile'"
[color]
    ui = false
[alias]
    pd = log origin..
[push]
    default = current
[filter "gitlocal"]
    clean = "sed '/gitlocal/d'"
    smudge = "cat"
    required = true
